{
  "swagger": "2.0",
  "info": {
    "version": "2022-03-01-preview",
    "description": "This is a swagger documentation for Datasource Plugin APIs",
    "title": "Data Protection Platform - Datasource Plugin API",
    "x-ms-code-generation-settings": {
      "internalConstructors": false
    }
  },
  "host": "pluginBaseUrl.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/plugin:backup": {
      "post": {
        "description": "Start the Backup operation",
        "tags": [
          "DatasourcePlugin"
        ],
        "operationId": "plugin_backup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "description": "Request body for operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BackupRequest"
            }
          },
          {
            "name": "operation-Id",
            "in": "header",
            "description": "Unique id of the LRO",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "This is the version of the Plugin API",
            "type": "string",
            "required": true
          },
          {
            "name": "subscription-id",
            "in": "header",
            "description": "SubscriptionId of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource-id",
            "in": "header",
            "description": "unique id of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "task-id",
            "in": "header",
            "description": "unique id of the current task",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "correlation request Id for tracking a particular call.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. If completion of LRO is synchronous, the Response.Status = Succeeded | Failed | Canceled",
            "schema": {
              "$ref": "#/definitions/BackupResponse"
            },
            "headers": {
              "Retry-After": {
                "description": "Polling interval in seconds to get the next status of the LRO.",
                "type": "integer",
                "format": "int32"
              },
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "request Id for tracking a particular call.",
                "type": "string"
              },
              "Operation-Location": {
                "description": "operation location example https://<service-endpoint>/operationId",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error Scenario, where Plugin cannot send Kind specific Error in LRO response",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request Id for tracking a particular request.",
                "type": "string"
              },
              "Operation-Location": {
                "description": "operation location example https://<service-endpoint>/operationId",
                "type": "string"
              }
            }
          }
        },
        "x-ms-examples": {
          "Sample for Backup API.": {
            "$ref": "./examples/Backup.json"
          }
        },
        "deprecated": false
      }
    },
    "/plugin/backupOperations/{operationId}": {
      "get": {
        "description": "Gets the status of a Backup LRO.",
        "tags": [
          "DatasourcePlugin"
        ],
        "operationId": "Backup_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operationId",
            "in": "path",
            "description": "Unique Id of this LRO operation",
            "type": "string",
            "required": true
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "This is the version of the Plugin API",
            "type": "string",
            "required": true
          },
          {
            "name": "subscription-id",
            "in": "header",
            "description": "SubscriptionId of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource-id",
            "in": "header",
            "description": "Unique id of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "task-id",
            "in": "header",
            "description": "Unique id of the current task",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "Correlation request Id for tracking a particular request.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BackupResponse"
            },
            "headers": {
              "Retry-After": {
                "description": "Polling interval in seconds to get the next status of the LRO.",
                "type": "integer",
                "format": "int32"
              },
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request Id for tracking a particular request.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error Scenario, where Plugin cannot send Kind specific Error in LRO response",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request Id for tracking a particular request.",
                "type": "string"
              }
            }
          }
        },
        "x-ms-examples": {
          "Sample for GetStatus API": {
            "$ref": "./examples/GetBackupStatus.json"
          }
        },
        "deprecated": false
      }
    },
    "/plugin/backupOperations/{operationId}:cancel": {
      "post": {
        "description": "Cancel the operation. Poll the LRO to get the final status.",
        "tags": [
          "DatasourcePlugin"
        ],
        "operationId": "backup_Cancel",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "description": "Request body for operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancelRequest"
            }
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "Unique Id of this LRO operation",
            "type": "string",
            "required": true
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "This is the version of the Plugin API",
            "type": "string",
            "required": true
          },
          {
            "name": "subscription-id",
            "in": "header",
            "description": "SubscriptionId of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource-id",
            "in": "header",
            "description": "unique id of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "task-id",
            "in": "header",
            "description": "unique id of the current task",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "correlation request Id for tracking a particular call.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/BackupResponse"
            },
            "headers": {
              "Retry-After": {
                "description": "Polling interval in seconds to get the next status of the LRO.",
                "type": "integer",
                "format": "int32"
              },
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "request Id for tracking a particular call.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error Scenario, where Plugin cannot send Kind specific Error in LRO response",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request Id for tracking a particular request.",
                "type": "string"
              }
            }
          }
        },
        "x-ms-examples": {
          "Sync post call to cancel the ongoing operationId": {
            "$ref": "./examples/BackupCancel.json"
          }
        },
        "deprecated": false
      }
    },
    "/plugin/backupOperations/{operationId}:refreshTokens": {
      "post": {
        "description": "Refresh tokens for a given operation.",
        "tags": [
          "DatasourcePlugin"
        ],
        "operationId": "backup_refreshTokens",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "description": "Request body for operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RefreshTokensRequest"
            }
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "Unique Id of this LRO operation",
            "type": "string",
            "required": true
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "This is the version of the Plugin API",
            "type": "string",
            "required": true
          },
          {
            "name": "subscription-id",
            "in": "header",
            "description": "SubscriptionId of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource-id",
            "in": "header",
            "description": "unique id of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "task-id",
            "in": "header",
            "description": "unique id of the current task",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "correlation request Id for tracking a particular call.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BackupResponse"
            },
            "headers": {
              "Retry-After": {
                "description": "Polling interval in seconds to get the next status of the LRO.",
                "type": "integer",
                "format": "int32"
              },
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "request Id for tracking a particular call.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error Scenario, where Plugin cannot send Kind specific Error in LRO response",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request Id for tracking a particular request.",
                "type": "string"
              }
            }
          }
        },
        "x-ms-examples": {
          "Sync post call to refresh token for ongoing operationId": {
            "$ref": "./examples/BackupRefreshTokens.json"
          }
        },
        "deprecated": false
      }
    },
    "/plugin:commitOrRollbackBackup": {
      "post": {
        "description": "Start the commitOrRollbackBackup operation.",
        "tags": [
          "DatasourcePlugin"
        ],
        "operationId": "plugin_commitOrRollbackBackup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "description": "Request body for operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CommitOrRollbackBackupRequest"
            }
          },
          {
            "name": "operation-Id",
            "in": "header",
            "description": "Unique id of the LRO",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "This is the version of the Plugin API",
            "type": "string",
            "required": true
          },
          {
            "name": "subscription-id",
            "in": "header",
            "description": "SubscriptionId of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource-id",
            "in": "header",
            "description": "unique id of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "task-id",
            "in": "header",
            "description": "unique id of the current task",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "correlation request Id for tracking a particular call.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. If completion of LRO is synchronous, the Response.Status = Succeeded | Failed | Canceled",
            "schema": {
              "$ref": "#/definitions/CommitOrRollbackBackupResponse"
            },
            "headers": {
              "Retry-After": {
                "description": "Polling interval in seconds to get the next status of the LRO.",
                "type": "integer",
                "format": "int32"
              },
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "request Id for tracking a particular call.",
                "type": "string"
              },
              "Operation-Location": {
                "description": "operation location example https://<service-endpoint>/operationId",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error Scenario, where Plugin cannot send Kind specific Error in LRO response",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request Id for tracking a particular request.",
                "type": "string"
              }
            }
          }
        },
        "x-ms-examples": {
          "Sample for CommitOrRollbackBackup API.": {
            "$ref": "./examples/CommitOrRollbackBackup.json"
          }
        },
        "deprecated": false
      }
    },
    "/plugin/commitOrRollbackBackupOperations/{operationId}": {
      "get": {
        "description": "Gets the status of a Backup LRO.",
        "tags": [
          "DatasourcePlugin"
        ],
        "operationId": "CommitOrRollbackBackup_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operationId",
            "in": "path",
            "description": "Unique Id of this LRO operation",
            "type": "string",
            "required": true
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "This is the version of the Plugin API",
            "type": "string",
            "required": true
          },
          {
            "name": "subscription-id",
            "in": "header",
            "description": "SubscriptionId of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource-id",
            "in": "header",
            "description": "Unique id of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "task-id",
            "in": "header",
            "description": "Unique id of the current task",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "Correlation request Id for tracking a particular request.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CommitOrRollbackBackupResponse"
            },
            "headers": {
              "Retry-After": {
                "description": "Polling interval in seconds to get the next status of the LRO.",
                "type": "integer",
                "format": "int32"
              },
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request Id for tracking a particular request.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error Scenario, where Plugin cannot send Kind specific Error in LRO response",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request Id for tracking a particular request.",
                "type": "string"
              }
            }
          }
        },
        "x-ms-examples": {
          "Sample for GetStatus API": {
            "$ref": "./examples/GetCommitOrRollbackBackupStatus.json"
          }
        },
        "deprecated": false
      }
    },
    "/plugin/commitOrRollbackBackupOperations/{operationId}:cancel": {
      "post": {
        "description": "Cancel the operation. Poll the LRO to get the final status.",
        "tags": [
          "DatasourcePlugin"
        ],
        "operationId": "commitOrRollbackBackup_Cancel",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "description": "Request body for operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancelRequest"
            }
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "Unique Id of this LRO operation",
            "type": "string",
            "required": true
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "This is the version of the Plugin API",
            "type": "string",
            "required": true
          },
          {
            "name": "subscription-id",
            "in": "header",
            "description": "SubscriptionId of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource-id",
            "in": "header",
            "description": "unique id of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "task-id",
            "in": "header",
            "description": "unique id of the current task",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "correlation request Id for tracking a particular call.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/CommitOrRollbackBackupResponse"
            },
            "headers": {
              "Retry-After": {
                "description": "Polling interval in seconds to get the next status of the LRO.",
                "type": "integer",
                "format": "int32"
              },
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "request Id for tracking a particular call.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error Scenario, where Plugin cannot send Kind specific Error in LRO response",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request Id for tracking a particular request.",
                "type": "string"
              }
            }
          }
        },
        "x-ms-examples": {
          "Sync post call to cancel the ongoing operationId": {
            "$ref": "./examples/CommitOrRollbackBackupCancel.json"
          }
        },
        "deprecated": false
      }
    },
    "/plugin/commitOrRollbackBackupOperations/{operationId}:refreshTokens": {
      "post": {
        "description": "Refresh tokens for a given operation.",
        "tags": [
          "DatasourcePlugin"
        ],
        "operationId": "commitOrRollbackBackup_refreshTokens",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "description": "Request body for operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RefreshTokensRequest"
            }
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "Unique Id of this LRO operation",
            "type": "string",
            "required": true
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "This is the version of the Plugin API",
            "type": "string",
            "required": true
          },
          {
            "name": "subscription-id",
            "in": "header",
            "description": "SubscriptionId of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource-id",
            "in": "header",
            "description": "unique id of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "task-id",
            "in": "header",
            "description": "unique id of the current task",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "correlation request Id for tracking a particular call.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CommitOrRollbackBackupResponse"
            },
            "headers": {
              "Retry-After": {
                "description": "Polling interval in seconds to get the next status of the LRO.",
                "type": "integer",
                "format": "int32"
              },
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "request Id for tracking a particular call.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error Scenario, where Plugin cannot send Kind specific Error in LRO response",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request Id for tracking a particular request.",
                "type": "string"
              }
            }
          }
        },
        "x-ms-examples": {
          "Sync post call to refresh token for ongoing operationId": {
            "$ref": "./examples/CommitOrRollbackBackupRefreshTokens.json"
          }
        },
        "deprecated": false
      }
    },
    "/plugin:commitOrRollbackRestore": {
      "post": {
        "description": "Start the commitOrRollbackRestore operation.",
        "tags": [
          "DatasourcePlugin"
        ],
        "operationId": "plugin_commitOrRollbackRestore",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "description": "Request body for operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CommitOrRollbackRestoreRequest"
            }
          },
          {
            "name": "operation-Id",
            "in": "header",
            "description": "Unique id of the LRO",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "This is the version of the Plugin API",
            "type": "string",
            "required": true
          },
          {
            "name": "subscription-id",
            "in": "header",
            "description": "SubscriptionId of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource-id",
            "in": "header",
            "description": "unique id of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "task-id",
            "in": "header",
            "description": "unique id of the current task",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "correlation request Id for tracking a particular call.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. If completion of LRO is synchronous, the Response.Status = Succeeded | Failed | Canceled",
            "schema": {
              "$ref": "#/definitions/CommitOrRollbackRestoreResponse"
            },
            "headers": {
              "Retry-After": {
                "description": "Polling interval in seconds to get the next status of the LRO.",
                "type": "integer",
                "format": "int32"
              },
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "request Id for tracking a particular call.",
                "type": "string"
              },
              "Operation-Location": {
                "description": "operation location example https://<service-endpoint>/operationId",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error Scenario, where Plugin cannot send Kind specific Error in LRO response",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request Id for tracking a particular request.",
                "type": "string"
              }
            }
          }
        },
        "x-ms-examples": {
          "Sample for CommitOrRollbackRestore API": {
            "$ref": "./examples/CommitOrRollbackRestore.json"
          }
        },
        "deprecated": false
      }
    },
    "/plugin/commitOrRollbackRestoreOperations/{operationId}": {
      "get": {
        "description": "Gets the status of a commitOrRollbackRestore LRO.",
        "tags": [
          "DatasourcePlugin"
        ],
        "operationId": "CommitOrRollbackRestore_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operationId",
            "in": "path",
            "description": "Unique Id of this LRO operation",
            "type": "string",
            "required": true
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "This is the version of the Plugin API",
            "type": "string",
            "required": true
          },
          {
            "name": "subscription-id",
            "in": "header",
            "description": "SubscriptionId of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource-id",
            "in": "header",
            "description": "Unique id of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "task-id",
            "in": "header",
            "description": "Unique id of the current task",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "Correlation request Id for tracking a particular request.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CommitOrRollbackRestoreResponse"
            },
            "headers": {
              "Retry-After": {
                "description": "Polling interval in seconds to get the next status of the LRO.",
                "type": "integer",
                "format": "int32"
              },
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request Id for tracking a particular request.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error Scenario, where Plugin cannot send Kind specific Error in LRO response",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request Id for tracking a particular request.",
                "type": "string"
              }
            }
          }
        },
        "x-ms-examples": {
          "Sample for GetStatus API": {
            "$ref": "./examples/GetCommitOrRollbackRestoreStatus.json"
          }
        },
        "deprecated": false
      }
    },
    "/plugin/commitOrRollbackRestoreOperations/{operationId}:cancel": {
      "post": {
        "description": "Cancel the operation. Poll the LRO to get the final status.",
        "tags": [
          "DatasourcePlugin"
        ],
        "operationId": "commitOrRollbackRestore_Cancel",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "description": "Request body for operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancelRequest"
            }
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "Unique Id of this LRO operation",
            "type": "string",
            "required": true
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "This is the version of the Plugin API",
            "type": "string",
            "required": true
          },
          {
            "name": "subscription-id",
            "in": "header",
            "description": "SubscriptionId of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource-id",
            "in": "header",
            "description": "unique id of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "task-id",
            "in": "header",
            "description": "unique id of the current task",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "correlation request Id for tracking a particular call.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/CommitOrRollbackRestoreResponse"
            },
            "headers": {
              "Retry-After": {
                "description": "Polling interval in seconds to get the next status of the LRO.",
                "type": "integer",
                "format": "int32"
              },
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "request Id for tracking a particular call.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error Scenario, where Plugin cannot send Kind specific Error in LRO response",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request Id for tracking a particular request.",
                "type": "string"
              }
            }
          }
        },
        "x-ms-examples": {
          "Sync post call to cancel the ongoing operationId": {
            "$ref": "./examples/CommitOrRollbackRestoreCancel.json"
          }
        },
        "deprecated": false
      }
    },
    "/plugin/commitOrRollbackRestoreOperations/{operationId}:refreshTokens": {
      "post": {
        "description": "Refresh tokens for a given operation.",
        "tags": [
          "DatasourcePlugin"
        ],
        "operationId": "commitOrRollbackRestore_refreshTokens",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "description": "Request body for operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RefreshTokensRequest"
            }
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "Unique Id of this LRO operation",
            "type": "string",
            "required": true
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "This is the version of the Plugin API",
            "type": "string",
            "required": true
          },
          {
            "name": "subscription-id",
            "in": "header",
            "description": "SubscriptionId of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource-id",
            "in": "header",
            "description": "unique id of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "task-id",
            "in": "header",
            "description": "unique id of the current task",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "correlation request Id for tracking a particular call.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CommitOrRollbackRestoreResponse"
            },
            "headers": {
              "Retry-After": {
                "description": "Polling interval in seconds to get the next status of the LRO.",
                "type": "integer",
                "format": "int32"
              },
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "request Id for tracking a particular call.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error Scenario, where Plugin cannot send Kind specific Error in LRO response",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request Id for tracking a particular request.",
                "type": "string"
              }
            }
          }
        },
        "x-ms-examples": {
          "Sync post call to refresh token for ongoing operationId": {
            "$ref": "./examples/CommitOrRollbackRestoreRefreshTokens.json"
          }
        },
        "deprecated": false
      }
    },
    "/plugin:restore": {
      "post": {
        "description": "Start the restore operation.",
        "tags": [
          "DatasourcePlugin"
        ],
        "operationId": "plugin_restore",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "description": "Request body for operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RestoreRequest"
            }
          },
          {
            "name": "operation-Id",
            "in": "header",
            "description": "Unique id of the LRO",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "This is the version of the Plugin API",
            "type": "string",
            "required": true
          },
          {
            "name": "subscription-id",
            "in": "header",
            "description": "SubscriptionId of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource-id",
            "in": "header",
            "description": "unique id of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "task-id",
            "in": "header",
            "description": "unique id of the current task",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "correlation request Id for tracking a particular call.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. If completion of LRO is synchronous, the Response.Status = Succeeded | Failed | Canceled",
            "schema": {
              "$ref": "#/definitions/RestoreResponse"
            },
            "headers": {
              "Retry-After": {
                "description": "Polling interval in seconds to get the next status of the LRO.",
                "type": "integer",
                "format": "int32"
              },
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "request Id for tracking a particular call.",
                "type": "string"
              },
              "Operation-Location": {
                "description": "operation location example https://<service-endpoint>/operationId",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error Scenario, where Plugin cannot send Kind specific Error in LRO response",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request Id for tracking a particular request.",
                "type": "string"
              }
            }
          }
        },
        "x-ms-examples": {
          "Sample for Restore API.": {
            "$ref": "./examples/Restore.json"
          }
        },
        "deprecated": false
      }
    },
    "/plugin/restoreOperations/{operationId}": {
      "get": {
        "description": "Gets the status of a Restore LRO.",
        "tags": [
          "DatasourcePlugin"
        ],
        "operationId": "Restore_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operationId",
            "in": "path",
            "description": "Unique Id of this LRO operation",
            "type": "string",
            "required": true
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "This is the version of the Plugin API",
            "type": "string",
            "required": true
          },
          {
            "name": "subscription-id",
            "in": "header",
            "description": "SubscriptionId of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource-id",
            "in": "header",
            "description": "Unique id of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "task-id",
            "in": "header",
            "description": "Unique id of the current task",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "Correlation request Id for tracking a particular request.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestoreResponse"
            },
            "headers": {
              "Retry-After": {
                "description": "Polling interval in seconds to get the next status of the LRO.",
                "type": "integer",
                "format": "int32"
              },
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request Id for tracking a particular request.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error Scenario, where Plugin cannot send Kind specific Error in LRO response",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request Id for tracking a particular request.",
                "type": "string"
              }
            }
          }
        },
        "x-ms-examples": {
          "Sample for GetStatus API": {
            "$ref": "./examples/GetRestoreStatus.json"
          }
        },
        "deprecated": false
      }
    },
    "/plugin/restoreOperations/{operationId}:cancel": {
      "post": {
        "description": "Cancel the operation. Poll the LRO to get the final status.",
        "tags": [
          "DatasourcePlugin"
        ],
        "operationId": "restore_Cancel",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "description": "Request body for operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancelRequest"
            }
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "Unique Id of this LRO operation",
            "type": "string",
            "required": true
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "This is the version of the Plugin API",
            "type": "string",
            "required": true
          },
          {
            "name": "subscription-id",
            "in": "header",
            "description": "SubscriptionId of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource-id",
            "in": "header",
            "description": "unique id of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "task-id",
            "in": "header",
            "description": "unique id of the current task",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "correlation request Id for tracking a particular call.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/RestoreResponse"
            },
            "headers": {
              "Retry-After": {
                "description": "Polling interval in seconds to get the next status of the LRO.",
                "type": "integer",
                "format": "int32"
              },
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "request Id for tracking a particular call.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error Scenario, where Plugin cannot send Kind specific Error in LRO response",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request Id for tracking a particular request.",
                "type": "string"
              }
            }
          }
        },
        "x-ms-examples": {
          "Sync post call to cancel the ongoing operationId": {
            "$ref": "./examples/RestoreCancel.json"
          }
        },
        "deprecated": false
      }
    },
    "/plugin/restoreOperations/{operationId}:refreshTokens": {
      "post": {
        "description": "Refresh tokens for a given operation.",
        "tags": [
          "DatasourcePlugin"
        ],
        "operationId": "restore_refreshTokens",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "description": "Request body for operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RefreshTokensRequest"
            }
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "Unique Id of this LRO operation",
            "type": "string",
            "required": true
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "This is the version of the Plugin API",
            "type": "string",
            "required": true
          },
          {
            "name": "subscription-id",
            "in": "header",
            "description": "SubscriptionId of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource-id",
            "in": "header",
            "description": "unique id of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "task-id",
            "in": "header",
            "description": "unique id of the current task",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "correlation request Id for tracking a particular call.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestoreResponse"
            },
            "headers": {
              "Retry-After": {
                "description": "Polling interval in seconds to get the next status of the LRO.",
                "type": "integer",
                "format": "int32"
              },
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "request Id for tracking a particular call.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error Scenario, where Plugin cannot send Kind specific Error in LRO response",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request Id for tracking a particular request.",
                "type": "string"
              }
            }
          }
        },
        "x-ms-examples": {
          "Sync post call to refresh token for ongoing operationId": {
            "$ref": "./examples/RestoreRefreshTokens.json"
          }
        },
        "deprecated": false
      }
    },
    "/plugin:startProtection": {
      "post": {
        "description": "Start the startProtection operation.",
        "tags": [
          "DatasourcePlugin"
        ],
        "operationId": "plugin_startProtection",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "description": "Request body for operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StartProtectionRequest"
            }
          },
          {
            "name": "operation-Id",
            "in": "header",
            "description": "Unique id of the LRO",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "This is the version of the Plugin API",
            "type": "string",
            "required": true
          },
          {
            "name": "subscription-id",
            "in": "header",
            "description": "SubscriptionId of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource-id",
            "in": "header",
            "description": "unique id of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "task-id",
            "in": "header",
            "description": "unique id of the current task",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "correlation request Id for tracking a particular call.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. If completion of LRO is synchronous, the Response.Status = Succeeded | Failed | Canceled",
            "schema": {
              "$ref": "#/definitions/StartProtectionResponse"
            },
            "headers": {
              "Retry-After": {
                "description": "Polling interval in seconds to get the next status of the LRO.",
                "type": "integer",
                "format": "int32"
              },
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "request Id for tracking a particular call.",
                "type": "string"
              },
              "Operation-Location": {
                "description": "operation location example https://<service-endpoint>/operationId",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error Scenario, where Plugin cannot send Kind specific Error in LRO response",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request Id for tracking a particular request.",
                "type": "string"
              }
            }
          }
        },
        "x-ms-examples": {
          "Sample for StartProtection API.": {
            "$ref": "./examples/StartProtection.json"
          }
        },
        "deprecated": false
      }
    },
    "/plugin/startProtectionOperations/{operationId}": {
      "get": {
        "description": "Gets the status of a startProtection LRO.",
        "tags": [
          "DatasourcePlugin"
        ],
        "operationId": "StartProtection_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operationId",
            "in": "path",
            "description": "Unique Id of this LRO operation",
            "type": "string",
            "required": true
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "This is the version of the Plugin API",
            "type": "string",
            "required": true
          },
          {
            "name": "subscription-id",
            "in": "header",
            "description": "SubscriptionId of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource-id",
            "in": "header",
            "description": "Unique id of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "task-id",
            "in": "header",
            "description": "Unique id of the current task",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "Correlation request Id for tracking a particular request.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StartProtectionResponse"
            },
            "headers": {
              "Retry-After": {
                "description": "Polling interval in seconds to get the next status of the LRO.",
                "type": "integer",
                "format": "int32"
              },
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request Id for tracking a particular request.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error Scenario, where Plugin cannot send Kind specific Error in LRO response",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request Id for tracking a particular request.",
                "type": "string"
              }
            }
          }
        },
        "x-ms-examples": {
          "Sample for GetStatus API": {
            "$ref": "./examples/GetStartProtectionStatus.json"
          }
        },
        "deprecated": false
      }
    },
    "/plugin/startProtectionOperations/{operationId}:cancel": {
      "post": {
        "description": "Cancel the operation. Poll the LRO to get the final status.",
        "tags": [
          "DatasourcePlugin"
        ],
        "operationId": "startProtection_Cancel",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "description": "Request body for operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancelRequest"
            }
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "Unique Id of this LRO operation",
            "type": "string",
            "required": true
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "This is the version of the Plugin API",
            "type": "string",
            "required": true
          },
          {
            "name": "subscription-id",
            "in": "header",
            "description": "SubscriptionId of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource-id",
            "in": "header",
            "description": "unique id of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "task-id",
            "in": "header",
            "description": "unique id of the current task",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "correlation request Id for tracking a particular call.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/StartProtectionResponse"
            },
            "headers": {
              "Retry-After": {
                "description": "Polling interval in seconds to get the next status of the LRO.",
                "type": "integer",
                "format": "int32"
              },
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "request Id for tracking a particular call.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error Scenario, where Plugin cannot send Kind specific Error in LRO response",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request Id for tracking a particular request.",
                "type": "string"
              }
            }
          }
        },
        "x-ms-examples": {
          "Sync post call to cancel the ongoing operationId": {
            "$ref": "./examples/StartProtectionCancel.json"
          }
        },
        "deprecated": false
      }
    },
    "/plugin/startProtectionOperations/{operationId}:refreshTokens": {
      "post": {
        "description": "Refresh tokens for a given operation.",
        "tags": [
          "DatasourcePlugin"
        ],
        "operationId": "startProtection_refreshTokens",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "description": "Request body for operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RefreshTokensRequest"
            }
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "Unique Id of this LRO operation",
            "type": "string",
            "required": true
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "This is the version of the Plugin API",
            "type": "string",
            "required": true
          },
          {
            "name": "subscription-id",
            "in": "header",
            "description": "SubscriptionId of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource-id",
            "in": "header",
            "description": "unique id of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "task-id",
            "in": "header",
            "description": "unique id of the current task",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "correlation request Id for tracking a particular call.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StartProtectionResponse"
            },
            "headers": {
              "Retry-After": {
                "description": "Polling interval in seconds to get the next status of the LRO.",
                "type": "integer",
                "format": "int32"
              },
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "request Id for tracking a particular call.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error Scenario, where Plugin cannot send Kind specific Error in LRO response",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request Id for tracking a particular request.",
                "type": "string"
              }
            }
          }
        },
        "x-ms-examples": {
          "Sync post call to refresh token for ongoing operationId": {
            "$ref": "./examples/StartProtectionRefreshTokens.json"
          }
        },
        "deprecated": false
      }
    },
    "/plugin:stopProtection": {
      "post": {
        "description": "Start the stopProtection operation.",
        "tags": [
          "DatasourcePlugin"
        ],
        "operationId": "plugin_stopProtection",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "description": "Request body for operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StopProtectionRequest"
            }
          },
          {
            "name": "operation-Id",
            "in": "header",
            "description": "Unique id of the LRO",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "This is the version of the Plugin API",
            "type": "string",
            "required": true
          },
          {
            "name": "subscription-id",
            "in": "header",
            "description": "SubscriptionId of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource-id",
            "in": "header",
            "description": "unique id of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "task-id",
            "in": "header",
            "description": "unique id of the current task",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "correlation request Id for tracking a particular call.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. If completion of LRO is synchronous, the Response.Status = Succeeded | Failed | Canceled",
            "schema": {
              "$ref": "#/definitions/StopProtectionResponse"
            },
            "headers": {
              "Retry-After": {
                "description": "Polling interval in seconds to get the next status of the LRO.",
                "type": "integer",
                "format": "int32"
              },
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "request Id for tracking a particular call.",
                "type": "string"
              },
              "Operation-Location": {
                "description": "operation location example https://<service-endpoint>/operationId",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error Scenario, where Plugin cannot send Kind specific Error in LRO response",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request Id for tracking a particular request.",
                "type": "string"
              }
            }
          }
        },
        "x-ms-examples": {
          "Sample for StopProtection API.": {
            "$ref": "./examples/StopProtection.json"
          }
        },
        "deprecated": false
      }
    },
    "/plugin/stopProtectionOperations/{operationId}": {
      "get": {
        "description": "Gets the status of a stopProtection LRO.",
        "tags": [
          "DatasourcePlugin"
        ],
        "operationId": "StopProtection_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operationId",
            "in": "path",
            "description": "Unique Id of this LRO operation",
            "type": "string",
            "required": true
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "This is the version of the Plugin API",
            "type": "string",
            "required": true
          },
          {
            "name": "subscription-id",
            "in": "header",
            "description": "SubscriptionId of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource-id",
            "in": "header",
            "description": "Unique id of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "task-id",
            "in": "header",
            "description": "Unique id of the current task",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "Correlation request Id for tracking a particular request.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StopProtectionResponse"
            },
            "headers": {
              "Retry-After": {
                "description": "Polling interval in seconds to get the next status of the LRO.",
                "type": "integer",
                "format": "int32"
              },
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request Id for tracking a particular request.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error Scenario, where Plugin cannot send Kind specific Error in LRO response",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request Id for tracking a particular request.",
                "type": "string"
              }
            }
          }
        },
        "x-ms-examples": {
          "Sample for GetStatus API": {
            "$ref": "./examples/GetStopProtectionStatus.json"
          }
        },
        "deprecated": false
      }
    },
    "/plugin/stopProtectionOperations/{operationId}:cancel": {
      "post": {
        "description": "Cancel the operation. Poll the LRO to get the final status.",
        "tags": [
          "DatasourcePlugin"
        ],
        "operationId": "stopProtection_Cancel",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "description": "Request body for operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancelRequest"
            }
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "Unique Id of this LRO operation",
            "type": "string",
            "required": true
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "This is the version of the Plugin API",
            "type": "string",
            "required": true
          },
          {
            "name": "subscription-id",
            "in": "header",
            "description": "SubscriptionId of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource-id",
            "in": "header",
            "description": "unique id of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "task-id",
            "in": "header",
            "description": "unique id of the current task",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "correlation request Id for tracking a particular call.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/StopProtectionResponse"
            },
            "headers": {
              "Retry-After": {
                "description": "Polling interval in seconds to get the next status of the LRO.",
                "type": "integer",
                "format": "int32"
              },
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "request Id for tracking a particular call.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error Scenario, where Plugin cannot send Kind specific Error in LRO response",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request Id for tracking a particular request.",
                "type": "string"
              }
            }
          }
        },
        "x-ms-examples": {
          "Sync post call to cancel the ongoing operationId": {
            "$ref": "./examples/StopProtectionCancel.json"
          }
        },
        "deprecated": false
      }
    },
    "/plugin/stopProtectionOperations/{operationId}:refreshTokens": {
      "post": {
        "description": "Refresh tokens for a given operation.",
        "tags": [
          "DatasourcePlugin"
        ],
        "operationId": "stopProtection_refreshTokens",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "description": "Request body for operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RefreshTokensRequest"
            }
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "Unique Id of this LRO operation",
            "type": "string",
            "required": true
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "This is the version of the Plugin API",
            "type": "string",
            "required": true
          },
          {
            "name": "subscription-id",
            "in": "header",
            "description": "SubscriptionId of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource-id",
            "in": "header",
            "description": "unique id of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "task-id",
            "in": "header",
            "description": "unique id of the current task",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "correlation request Id for tracking a particular call.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StopProtectionResponse"
            },
            "headers": {
              "Retry-After": {
                "description": "Polling interval in seconds to get the next status of the LRO.",
                "type": "integer",
                "format": "int32"
              },
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "request Id for tracking a particular call.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error Scenario, where Plugin cannot send Kind specific Error in LRO response",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request Id for tracking a particular request.",
                "type": "string"
              }
            }
          }
        },
        "x-ms-examples": {
          "Sync post call to refresh token for ongoing operationId": {
            "$ref": "./examples/StopProtectionRefreshTokens.json"
          }
        },
        "deprecated": false
      }
    },
    "/plugin:updateProtection": {
      "post": {
        "description": "Start the updateProtection operation.",
        "tags": [
          "DatasourcePlugin"
        ],
        "operationId": "plugin_updateProtection",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "description": "Request body for operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateProtectionRequest"
            }
          },
          {
            "name": "operation-Id",
            "in": "header",
            "description": "Unique id of the LRO",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "This is the version of the Plugin API",
            "type": "string",
            "required": true
          },
          {
            "name": "subscription-id",
            "in": "header",
            "description": "SubscriptionId of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource-id",
            "in": "header",
            "description": "unique id of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "task-id",
            "in": "header",
            "description": "unique id of the current task",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "correlation request Id for tracking a particular call.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. If completion of LRO is synchronous, the Response.Status = Succeeded | Failed | Canceled",
            "schema": {
              "$ref": "#/definitions/UpdateProtectionResponse"
            },
            "headers": {
              "Retry-After": {
                "description": "Polling interval in seconds to get the next status of the LRO.",
                "type": "integer",
                "format": "int32"
              },
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "request Id for tracking a particular call.",
                "type": "string"
              },
              "Operation-Location": {
                "description": "operation location example https://<service-endpoint>/operationId",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error Scenario, where Plugin cannot send Kind specific Error in LRO response",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request Id for tracking a particular request.",
                "type": "string"
              }
            }
          }
        },
        "x-ms-examples": {
          "Sample for UpdateProtection API.": {
            "$ref": "./examples/UpdateProtection.json"
          }
        },
        "deprecated": false
      }
    },
    "/plugin/updateProtectionOperations/{operationId}": {
      "get": {
        "description": "Gets the status of a updateProtection LRO.",
        "tags": [
          "DatasourcePlugin"
        ],
        "operationId": "UpdateProtection_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operationId",
            "in": "path",
            "description": "Unique Id of this LRO operation",
            "type": "string",
            "required": true
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "This is the version of the Plugin API",
            "type": "string",
            "required": true
          },
          {
            "name": "subscription-id",
            "in": "header",
            "description": "SubscriptionId of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource-id",
            "in": "header",
            "description": "Unique id of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "task-id",
            "in": "header",
            "description": "Unique id of the current task",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "Correlation request Id for tracking a particular request.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UpdateProtectionResponse"
            },
            "headers": {
              "Retry-After": {
                "description": "Polling interval in seconds to get the next status of the LRO.",
                "type": "integer",
                "format": "int32"
              },
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request Id for tracking a particular request.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error Scenario, where Plugin cannot send Kind specific Error in LRO response",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request Id for tracking a particular request.",
                "type": "string"
              }
            }
          }
        },
        "x-ms-examples": {
          "Sample for GetStatus API": {
            "$ref": "./examples/GetUpdateProtectionStatus.json"
          }
        },
        "deprecated": false
      }
    },
    "/plugin/updateProtectionOperations/{operationId}:cancel": {
      "post": {
        "description": "Cancel the operation. Poll the LRO to get the final status.",
        "tags": [
          "DatasourcePlugin"
        ],
        "operationId": "updateProtection_Cancel",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "description": "Request body for operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancelRequest"
            }
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "Unique Id of this LRO operation",
            "type": "string",
            "required": true
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "This is the version of the Plugin API",
            "type": "string",
            "required": true
          },
          {
            "name": "subscription-id",
            "in": "header",
            "description": "SubscriptionId of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource-id",
            "in": "header",
            "description": "unique id of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "task-id",
            "in": "header",
            "description": "unique id of the current task",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "correlation request Id for tracking a particular call.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/UpdateProtectionResponse"
            },
            "headers": {
              "Retry-After": {
                "description": "Polling interval in seconds to get the next status of the LRO.",
                "type": "integer",
                "format": "int32"
              },
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "request Id for tracking a particular call.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error Scenario, where Plugin cannot send Kind specific Error in LRO response",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request Id for tracking a particular request.",
                "type": "string"
              }
            }
          }
        },
        "x-ms-examples": {
          "Sync post call to cancel the ongoing operationId": {
            "$ref": "./examples/UpdateProtectionCancel.json"
          }
        },
        "deprecated": false
      }
    },
    "/plugin/updateProtectionOperations/{operationId}:refreshTokens": {
      "post": {
        "description": "Refresh tokens for a given operation.",
        "tags": [
          "DatasourcePlugin"
        ],
        "operationId": "updateProtection_refreshTokens",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "description": "Request body for operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RefreshTokensRequest"
            }
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "Unique Id of this LRO operation",
            "type": "string",
            "required": true
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "This is the version of the Plugin API",
            "type": "string",
            "required": true
          },
          {
            "name": "subscription-id",
            "in": "header",
            "description": "SubscriptionId of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource-id",
            "in": "header",
            "description": "unique id of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "task-id",
            "in": "header",
            "description": "unique id of the current task",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "correlation request Id for tracking a particular call.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UpdateProtectionResponse"
            },
            "headers": {
              "Retry-After": {
                "description": "Polling interval in seconds to get the next status of the LRO.",
                "type": "integer",
                "format": "int32"
              },
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "request Id for tracking a particular call.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error Scenario, where Plugin cannot send Kind specific Error in LRO response",
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "ErrorCode string in the event of a failure.",
                "type": "string"
              },
              "x-ms-request-id": {
                "description": "Request Id for tracking a particular request.",
                "type": "string"
              }
            }
          }
        },
        "x-ms-examples": {
          "Sync post call to refresh token for ongoing operationId": {
            "$ref": "./examples/UpdateProtectionRefreshTokens.json"
          }
        },
        "deprecated": false
      }
    },
    "/plugin:validateForBackup": {
      "post": {
        "description": "Start the validateForBackup operation.",
        "tags": [
          "DatasourcePlugin"
        ],
        "operationId": "plugin_validateForBackup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "description": "Request body for operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ValidateForBackupRequest"
            }
          },
          {
            "name": "operation-Id",
            "in": "header",
            "description": "Unique id of the LRO",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "This is the version of the Plugin API",
            "type": "string",
            "required": true
          },
          {
            "name": "subscription-id",
            "in": "header",
            "description": "SubscriptionId of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource-id",
            "in": "header",
            "description": "unique id of the resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "task-id",
            "in": "header",
            "description": "unique id of the current task",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "correlation request Id for tracking a particular call.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/ValidateForBackupResponse"
[...]
